@import 'tailwindcss';
body.sidebar-open .with-sidebar-transition {
    margin-left: 16rem; /* 64 = 16rem */
    transition: all 0.3s ease;
}

body .with-sidebar-transition {
    transition: all 0.3s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-fadeInUp {
    animation: fadeInUp 0.5s ease forwards;
}

.base {
    background-color: '#04AA1D';
}
.base-light {
    background-color: '#54C95A';
}
.base-semi-dark {
    background-color: '#039418';
}
.base-dark {
    background-color: '#027B14';
}

.base-text {
    color: #04aa1d !important;
}
.base-text-light {
    color: #54c95a;
}
.base-text-semi-dark {
    color: #039418;
}
.base-text-dark {
    color: #027b14;
}

@media print {
    body * {
        visibility: hidden;
    }
    #printable,
    #printable * {
        visibility: visible;
    }
    #printable {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
